@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <p><a href="Users/Login" class="btn btn-primary btn-lg">User</a> <a href="Admin/Login" class="btn btn-primary btn-lg">Admin</a></p>
    </div>

</div>

