@model UserPortalWebService.Models.User

@{
    ViewBag.Title = "Successful";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mr. @Model.FirstName your Password has chnaged Successfully</h2>
@Html.ActionLink("Login with new passwword ? ", "Login","Users")

